/* Genral codes */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
a {
  text-decoration: none;
}
/* start toggle check */
.toggle-box {
  -webkit-appearance: none;
  appearance: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  position: absolute;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.toggle-box:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-box:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
/* end toggle check */
/* Genral codes */

.page {
  min-height: 100vh;
}
/* Start Speacial Heading */
.page h1.speacial {
  margin: 20px 20px 40px;
}
.page h1.speacial::after,
.page h1.speacial::before {
  content: "";
  height: 3px;
  bottom: -10px;
  position: absolute;
  left: 0%;
}
.page h1.speacial::before {
  width: 140px;
  background-color: white;
}
.page h1.speacial::after {
  width: 50px;
  background-color: black;
}
/* End Speacial Heading */
/* Start sideBar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.page .sidebar ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 5px;
  transition: 0.3s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.page .sidebar ul li a.active,
.page .sidebar ul li a:hover {
  background-color: #f6f6f6;
}
.page .sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 60px;
    padding: 10px;
  }
  .sidebar h3 {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 767px) {
  .sidebar > h3::after,
  .sidebar > h3::before {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translatex(-50%);
  }
  .sidebar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -30px;
  }
  .sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -22px;
  }
}
/* End sideBar */
/* Start content */
/* start header */
.content .header .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--gray-color);
}
.content .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 6px;
  padding-left: 32px;
  width: 175px;
  transition: 0.4s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.content .search input:focus {
  width: 210px;
}
.content .search input:focus::placeholder {
  opacity: 0;
}
.content .header .icon .notfi {
  cursor: pointer;
}
.content .header .icon .notfi::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: var(--red-color);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.content .header .icon img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
/* end header */
/* start box of content */
.box {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .box {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* start welcome */
.box .welcome .cover img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .info {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;

  padding: 2px;
  margin-left: 20px;
  margin-top: -32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.welcome .info > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .info {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .info > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* end welcome */
/* Start Draft */
.draft textarea {
  resize: none;
  min-height: 180px;
}
.draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* End Draft */
/* start target */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}
/* end target */
/* Start tickets */
.statistics .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .statistics .box {
    width: 100%;
  }
}
/* End tickets */
/* Start News */
.news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.news .info {
  flex-grow: 1;
}
.news .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .news .news-row {
    flex-direction: column;
  }
  .news .news-row img {
    margin-bottom: 15px;
  }
  .news .info p {
    margin-bottom: 15px;
  }
}
/* End News */
/* Start Tasks */
.tasks .task-row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
.tasks .info {
  flex-grow: 1;
}
.tasks .delete {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.tasks .delete:hover {
  color: var(--red-color);
}
/* End Tasks */
/* start uploads */
.uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.uploads ul li img {
  width: 40px;
  height: 40px;
}
/* end uploads */
/* start progress */
.progress ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.progress ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.progress ul li.done::before {
  background-color: var(--blue-color);
}
.progress ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}

.progress .launch-icon {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}
/* End progress */
/* start reminders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
/* end reminders */
/* start post */
.post .avatar {
  width: 48px;
  height: 48px;
}
.post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* end post */
/* start social media */
.social-media .box {
  padding-left: 70px;
}
.social-media .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.social-media .box i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.social-media .box i:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}
.social-media .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0077b5;
}
/* end social media */
/* start project table */
.project .container {
  overflow: auto;
}
.project table {
  min-width: 1000px;
  border-spacing: 0;
}
.project table td {
  padding: 15px;
}
.project table thead tr td {
  background-color: #eee;
  font-weight: bold;
}
.project table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.project table tbody td:last-child {
  border-right: 1px solid #eee;
}
.project table tbody tr:hover td {
  background-color: #faf7f7;
}
.project table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.project table img:not(:first-child) {
  margin-left: -20px;
}
/* end project table */
/* End box of content */
/* End content */

/* start Setting box */
.setting-page .box .close-message {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}
.setting-page .box .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.setting-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
.setting-page .box .security-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.setting-page .box .security-box a:hover {
  background-color: var(--blue-alt-color);
}
.setting-page .box .security-box {
  padding-bottom: 15px;
}
.setting-page .social-box i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  display: flex;
}
.setting-page .social-box > div:focus-within i {
  color: black;
}
.setting-page .social-box input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}
.setting-page .widget-box .control input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}
.setting-page .widget-box .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.setting-page .widget-box .control label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--gray-color);
  margin-top: -9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.setting-page .widget-box .control label:hover:before {
  border-color: var(--blue-alt-color);
}
.setting-page .widget-box .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 4px;
  transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.setting-page
  .widget-box
  .control
  input[type="checkbox"]:checked
  + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.setting-page .backup-box input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.setting-page .backup-box .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.setting-page .backup-box .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--gray-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.setting-page .backup-box .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.setting-page .backup-box .date label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: var(--blue-color);
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.setting-page .backup-box .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.setting-page .backup-box .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.setting-page .backup-box input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.setting-page .backup-box .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.setting-page .backup-box .servers .server {
  border: 2px solid #eee;
  position: relative;
}
.setting-page .backup-box .servers .server label {
  cursor: pointer;
}
/* end Setting box */
/* start profile page */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
@media (max-width: 768px) {
  .profile-page .avatar-box {
    border-bottom: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.profile-page .info-box h4 {
  font-weight: normal;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.profile-page .info-box .toggle-switch {
  height: 20px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin: 5px;
}
.profile-page .activities {
  flex-grow: 2;
}
.profile-page .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .profile-page .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
/* end profile page */
